@use "../../styles.scss";

.banner {
  &__content {
    @include styles.container;
    & {
      align-items: flex-start;
      justify-content: center;
      position: relative;
      z-index: 1;
    }

    @media (max-width: styles.$BREAKPOINT_MOBILE) {
      text-align: center;
      align-items: center;
      padding: 96px 56px;
    }
  }

  &__headliner {
    margin-bottom: 64px;
  }

  &__title {
    color: var(--color-gray-100);
  }

  &__subtitle {
    color: var(--color-gray-100);
    opacity: 0.5;
  }
}
