.about {
  .content {
    display: flex;
    flex-direction: row;
    max-width: 1280px;

    justify-content: space-between;

    .textArea {
      display: flex;
      flex-direction: column;
      width: 600px;
      gap: 48px;
    }

    article {
      display: flex;
      flex-direction: column;
      max-width: 600px;
      gap: 32px;
      h2 {
        color: var(--color-gray-700);
      }

      p {
        color: var(--color-gray-400);
      }
    }

    .doubleList {
      display: flex;
      gap: 48px;
    }

    .buttonsArea {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 16px;
    }
  }

  @media (max-width: 1024px) {
    .content {
      flex-direction: column;

      .buttonsArea {
        min-width: 100%;
        flex-direction: row;
        justify-content: center;
      }

      .extraButton {
        flex: 1;
        max-width: none;
      }
    }
  }
}
