@use "../../styles.scss";

.about {
  &__container {
    @include styles.container;
    & {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__textArea {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 600px;
  }

  &__article {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &--text {
      color: var(--color-gray-400);
    }
  }

  &__doubleList {
    display: flex;
    gap: 48px;

    @media (max-width: styles.$BREAKPOINT_MOBILE) {
      max-width: 380px;
      gap: 24px;
    }
  }

  &__buttonsArea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;

    @media (max-width: styles.$BREAKPOINT_DESKTOP) {
      display: none;
    }
  }
}
