.hero {
  background-image: url("@assets/hero-pic.webp");
  background-size: cover; /* Makes image cover the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents image from repeating */
}
