:root {
  /* Primary Colors */
  --color-primary-100: #E2E5FF;
  --color-primary-200: #AFBBFF;
  --color-primary-300: #7991FF;
  --color-primary-400: #2966FF;
  --color-primary-500: #0046C1;
  --color-primary-600: #00297A;
  --color-primary-700: #000F39;

  /* Gray Colors */
  --color-gray-100: #F0F1F1;
  --color-gray-200: #CECED2;
  --color-gray-300: #A6A7AD;
  --color-gray-400: #80828A;
  --color-gray-500: #5D5E66;
  --color-gray-600: #3C3D42;
  --color-gray-700: #1E1E21;

  --color-special-shadow: rgba(206,206,210, 0.2);

}
