// Variables
$SPACING-XS: 4px;
$SPACING-SM: 8px;
$SPACING-MD: 16px;
$SPACING-LG: 24px;
$SPACING-XL: 32px;
$SPACING-2XL: 48px;
$SPACING-3XL: 64px;
$SPACING-4XL: 80px;
$SPACING-5XL: 96px;

$BREAKPOINT_MOBILE: 652px;
$BREAKPOINT_TABLET: 768px;
$BREAKPOINT_DESKTOP: 1024px;
$BREAKPOINT_HD: 1280px;

$CONTAINER_MAX_WIDTH: 1280px;