.card-article,
.section-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    

    .subtitle1 {
        color: var(--color-gray-500);
        max-width: 290px;
    }
}