@use "../../styles.scss";

.header {
  & {
    width: 100%;
    border-bottom: 1px solid var(--color-special-shadow);
    position: relative;
    z-index: 100;
    transition: background-color 0.3s ease;
  }
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    padding: 24px 80px;
    margin: 0 auto;

    @media (max-width: styles.$BREAKPOINT_DESKTOP) {
      padding: 24px 56px;
    }
    
    @media (max-width: styles.$BREAKPOINT_MOBILE) {
      padding: 24px;
    }
  }
  

  &.menu-open {
    background-color: var(--color-primary-700);
  }
}

// Desktop navigation
.nav-list {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item a {
  color: var(--color-gray-100);
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--color-primary-300);
  }
}

// Hamburger button
.menu-toggle {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;

  &__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-gray-100);
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  &.active {
    .hamburger__line {
      &:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

// Mobile menu
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-primary-700);
  z-index: 90;
  padding-top: 80px; // Space for header
  height: 100vh;
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.3s ease, visibility 0s 0.4s;

  &--open {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    transition: transform 0.4s ease, opacity 0.3s ease, visibility 0s 0s;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 32px;
    height: calc(100% - 80px);
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 48px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid var(--color-primary-600);
  }

  &__link {
    color: var(--color-gray-100);
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px 0;

    &:hover {
      color: var(--color-primary-300);
    }
  }

  &__phone {
    margin-top: auto;
  }
}