@import "/src/styles.scss";

.services {
  &__content {
    @include content;
    gap: 48px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      @media (max-width: $breakpoint-mobile) {
        display: none;
      }
    }
  }

  .cardStack {
    display: grid;
    justify-content: center;
    align-items: start;
    justify-items: center;
    gap: 16px;

    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));

    @media (min-width: $breakpoint-HD) {
      .serviceCard {
        width: 360px;
        height: 500px;
      }
    }

    @media (max-width: $breakpoint-tablet) {
      display: flex;
      justify-content: flex-start;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      gap: 16px;

      .serviceCard {
        flex: 0 0 auto;
        scroll-snap-align: start;
        width: 300px;
        height: 400px;
      }
    }
  }
}
