@use "../../styles.scss";

.services {
  &__container {
    @include styles.container;
    & {
      display: flex;
      flex-direction: column;
      gap: 48px;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__desktop-button {
    display: block;

    @media (max-width: styles.$BREAKPOINT_MOBILE) {
      display: none;
    }
  }

  &__mobile-button {
    display: none;
    text-align: center;

    @media (max-width: styles.$BREAKPOINT_MOBILE) {
      display: flex;
    }
  }

  &__card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    justify-content: center;
    align-items: start;
    justify-items: center;
    gap: 16px;

    // Large screens
    @media (min-width: styles.$BREAKPOINT_HD) {
      .service-card {
        width: 360px;
        height: 500px;
      }
    }

    // Tablet and below - horizontal scrolling
    @media (max-width: styles.$BREAKPOINT_TABLET) {
      display: flex;
      justify-content: flex-start;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;

      .service-card {
        flex: 0 0 auto;
        scroll-snap-align: start;
        width: 300px;
        height: 400px;
      }
    }
  }
}
